:root {
    scroll-behavior: smooth;
    --primary-color: #01949F;
    --secondary-color: #003539;
    --link-color: #4154f1;
    --hover-color: #717ff5;
    --alert-color: #b33440;
    --background-color: #f2f2f2;
    --text-color:#ffffff;
}

.btn-primary,
.btn-danger,
.btn-success,
.btn-secondary,
.btn-warning {
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%) !important;
    border-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.btn-primary:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-secondary:hover,
.btn-warning:hover {
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%) !important;
    border-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}